In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("aqardata_2.csv")

In [3]:
print(data.shape)
data.head()

(2951, 8)

,mainlocation,sublocation,neighborhood,frontage,purpose,streetwidth,size,Pricepm
0,الرياض,غرب الرياض,حي ظهرة لبن,شمال,سكني,20.0,727,1800
1,بريدة,NaN,حي مشعل,غرب,NaN,15.0,450,950
2,الخبر,NaN,حي الحمرا,غرب,تجاري,100.0,1450,3500
3,الخبر,NaN,حي الحزام الاخضر,شرق,NaN,15.0,440,2700
4,بريدة,NaN,حي الرحاب,جنوب غربي,NaN,40.0,784,950

# Data analysis

## 1- Missing values

In [5]:
data.isna().sum()

mainlocation      0
sublocation     675
neighborhood      0
frontage          0
purpose         347
streetwidth       3
size              0
Pricepm           0
dtype: int64

In [6]:
print(f"The percentage of nall values in:")
print(f"'sublocation'= {data.sublocation.isna().sum() / data.shape[0]}")
print(f"'sublocation'= {data.purpose.isna().sum() / data.shape[0]}")
print(f"'sublocation'= {data.streetwidth.isna().sum() / data.shape[0]}")

The percentage of nall values in:
'sublocation'= 0.22873602168756355
'sublocation'= 0.11758725855642155
'sublocation'= 0.0010166045408336157

In [7]:
# data.dropna(subset=["streetwidth","purpose"],inplace=True)
data.dropna(inplace=True)

data.isna().sum()

mainlocation    0
sublocation     0
neighborhood    0
frontage        0
purpose         0
streetwidth     0
size            0
Pricepm         0
dtype: int64

In [8]:
# print(f"The percentage of nall values after removing smoe values:")
# print(f"'sublocation'= {data.sublocation.isna().sum() / data.shape[0]}")

## 2- Duplicate Data

In [9]:
data.duplicated().sum()

0

## 3- Data preprocessing

### 3.1 - one hot encoding